body {
	font-family:  Arial, Helvetica, sans-serif;
	background-image: url("background.jpg") !important;
	color: #fff;
	line-height: 1.6;
	text-align: center;
}

h1 {
    background-color: rgb(71, 117, 243);
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

}

name {
    font-size: 50px;
    color: aliceblue;

}

.hotbar{
    color: aliceblue;
    font-style: normal; 
    margin-left: 25px;
    margin-right: 25px;
}

#headshot{
    width: 500px;
}

#links{
    border: solid hsl(208, 44%, 33%);
    background-color: hsl(236, 52%, 25%);
    font-size: 20px;
    border-width: 10px;
    
}

#aboutme{
    background-color: rgb(222, 240, 66);
    text-align: center;
    margin: auto;
    width: 500px;
    padding: 20px;
}